# R specific
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.synctex.gz

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific
*~

# Temporary files
temp/
tmp/

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.claude/

claude.md
CLAUDE.md